# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.h5
*.tflite

# Virtual environment
venv/
Lib/
Scripts/
*.egg-info/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
.cache/
