.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
    justify-content: center;
    height: 100vh; /* 화면 전체 높이 */
    gap: 20px; /* 영상과 텍스트 사이 간격 */
}

.loading-video {
    width: 600px; /* 원하는 크기 */
    height: 600px;
    object-fit: contain;
    display: block; /* 크기 적용 보장 */
}



.loading-text {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 0; /* 텍스트 바로 아래 붙이기 */
}
